<% if user_signed_in? %>
    <h1>Welcome, <%= current_user.email %></h1>
    <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to "Sign up", new_user_registration_path %> or
    <%= link_to "Log in", new_user_session_path %>
<% end %>

<h1>Listing</h1>

<% @listings.each do |listing| %>
    <div class="listing">
        <h2><%= listing.title %></h2>
        <p><%= listing.description %></p>
        <p><%= link_to "Show", listing %></p>
    </div>
<% end %>

<%= link_to "Create New Listing", new_listing_path %>