    <%= form_tag listings_path, method: :get do %>
  <div class="form-group">
    <%= label_tag :location, 'Location' %>
    <%= text_field_tag :location, params[:location] %>
  </div>

  <%= submit_tag 'Filter Listings', class: 'btn btn-primary' %>
<% end %>

<h1>Listing</h1>

<% @listings.each do |listing| %>
    <div class="listing">
        <h2><%= listing.title %></h2>
        <p><%= listing.description %></p>
        <p><%= link_to "Show", listing %></p>
    </div>
<% end %>

<%= link_to "Create New Listing", new_listing_path %>